/* part1 */
.contain{
    width: 100%;
    padding: 0;
    margin: 0;
}
.myslide{
    width: 100%;
    height: 100vh;
    background: none;
    position: relative;
    display: none;
}
#background1{
    filter: blur(1px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/img_bg_1.jpg);
    height: 100vh;
    width: 100%;
}
#background2{
    filter: blur(1px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/img_bg_2.jpg);
    height: 100vh;
    width: 100%;
}
#background3{
    filter: blur(1px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/img_bg_3.jpg);
    height: 100vh;
    width: 100%;
}
#background4{
    filter: blur(1px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/img_bg_4.jpg);
    height: 100vh;
    width: 100%;
}
.pannel{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    justify-content: center;
    background: rgba(0,0,0,40%);
}
.pannel > div{
    width: 60%;
    text-align: center;
    border: 0.5px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
} 
.btw{
    border-radius: 15px;
    background-color: orange;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.btw:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* part 2 */
.intro{
    color: white;
    background: #302939;
    text-align: center;
    padding: 50px;
    width: 100%;
}
.introMain{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
/* part 3 */
.part3{
    width: 100%;
    padding-top: 50px;
}
.part3Body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.p3pic1{
    background-image: url('../images/about.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 415px;
}
.p3pic2{
    background-image: url('../images/about-2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 415px;
}
.pic1{
    padding-top: 40px;
    margin-bottom: 20px;
}
.pic2{
    padding-bottom: 40px;
}
/* part4 */
.part4{
    width: 100%;
    margin-top: 200px;
}
.p4Content{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.p4Head{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}
.p4Pic{
    display: flex;
    flex-wrap: wrap;
}